body {
  text-align: center;
  margin: auto;
  max-width: 1000px;
}
h1 {
  font-size: 3em;
  font-family: Calibri;
  display: block;
  pointer-events: none;
}

 
#desc-box {
  display: block;
}
#mobile-box {
  display: none;
}

#instructions {
  display: none;
}

@media (max-width: 950px) {
  #mobile-box {
    display: block;
    margin-top: 60px;
  }
  .desc {
    font-size: 1.5em;
    font-weight: bold;
  }
 
 canvas {
    display: none;
 }
}

@media (min-width: 951px) {
  #instructions {
    display: block;
    margin-top: 10px;
  }
  .instr {
    font-size: 1.0em;
    font-style: italic;
    font-family: Calibri;
    color: #ff0000;
    pointer-events: none;
  } 
  canvas {
    font-size: 3.0em;
    font-family: Calibri;
    display: block;
 }
}
 

